#main_div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0px;
    /* background-color: grey; */
    padding: 15px;
    min-width: 150px;
    min-height: 150px;
    width: 35%;
    height: 60vh;
    user-select: none;
}
#result_div{
    /* text-align: end; */
    font-size: 25px;
    grid-column: 1/5;
    border: 1px solid black; 
    /* grid-column-end: 5; */
}
#input_area{
    position: relative;
    margin-top: 8%;
    margin-bottom: auto;
    border-radius: 8px;
    height: 90px;
}
#result_area{
    display: flex;
    /* text-align: right; */
    color: #2ef041;
    justify-content: flex-end;
}
.keys{
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.keys:hover{
    color: white;
    background-color: black;
}
.keys:nth-last-child(1){
    grid-column: 3/5;
    background-color: #2b9bf0;
}